{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {%
block title %}Case Information{% endblock %} {% block content %}
<div class="container">
  <div class='lang_container'>
    <select class="form-control" onchange="javascript:location.href = this.value;">
      <option>Language</option>
      <option value='/models/language/en'>English</option>
      <option value='/models/language/fr'>French</option>
      <option value='/models/language/ko'>Korean</option>
    </select>
  </div>
  <style>
    .lang_container{
      position: absolute;
      margin-top: 10px;
      right: 100px;
    }
  </style>
  <h3>{{ _('Enter case information') }}</h3>
  <hr />
  <form action= "{{ url_for('enter_case') }}" method='POST'>
    {{ form.csrf_token }}
    {{ wtf.form_field(form.case_text) }}
    {{ wtf.form_field(form.case_upload) }}
    {{ wtf.form_field(form.submit) }}

    {% for error in form.case_upload.errors%}
    <div class='alert alert-danger' role='alert'>{{_(error)}}</div>
    {% endfor %}
  </form>
  <hr />
</div>
{% endblock %}
